doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='E-learning content editor')
    meta(name='author', content='Ghenadie Cabac')
    link(rel='icon', href='favicon.ico')

    title= title
    // Bootstrap core CSS
    link(href='styles/importer.css', rel='stylesheet')
    // Custom styles for this template
    link(href='styles/font-awesome.min.css' , rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
    script(src='js/ie8-responsive-file-warning.js')
    script(src='js/ie-emulation-modes-warning.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='js/ie10-viewport-bug-workaround.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

  body
  // Static navbar
  .navbar.navbar-default(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')   
         i.fa.fa-globe  
         ='  '
         | SLO + / #{title}
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='/') Index
          li
            a(href='/api') API
          li
            a(href='/newsindex') News
          li
            a(href='/addn') Add news
      // /.nav-collapse
    // /.container-fluid
  // Main component for a primary marketing message or call to action
  .container
    

    block content
  // Bootstrap core JavaScript
  // ==================================================
  // Placed at the end of the document so the pages load faster
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
